html {
   margin: 50px;
   margin-top: 10px;
   padding-top: 0px;
}
img#logo-img {
   width: 100px;
   padding-top: 0px;
   border-top: 0px;
   margin: 0px;
   margin-right: 50px;
   float: left;
}

.page-header {
   padding-bottom: 10px;
   border-bottom: 2px solid black;
}


.page-header nav ul {
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   line-height: 50px;
   background: #f7db02;
   border: 1px solid #f7db02;
   border-radius: 50px;
}

.page-header nav ul li {
   display: inline-block;
   float: left;
   margin-right: 30px;
   font-size: 28px;
   font-family: Helvetica, Arial, sans-serif;
}

.page-header nav ul li a {
   margin: 0px 10px;
}

#search-icon {
   width: 40px;
   margin:6px 0 -10px;
}

.primary-header h1, h2 {
   font-family: Helvetica, Arial, sans-serif;
   text-decoration: underline;
   margin-bottom: 5px;
}

.primary span img {
   width: 900px;
   height: 450px;
}

.primary-text h1 {
   position: absolute;
   top:520px;
   left: 58px;
   margin:0;
   font-size: 36px;
   background: black;
   color: white;
   font-family: Helvetica, Arial, sans-serif;
   padding-left:20px;
   padding-right: 33px;
   padding-bottom: 17px;
   padding-top: 10px;
}

#left-arrow {
   position:absolute;
   top:330px;
   left: 65px;
   width:40px;
   height:70px;
   margin: 0;
   padding:0;
   opacity: 0.8;
}

#right-arrow {
   position:absolute;
   top:330px;
   left: 910px;
   width:40px;
   height:70px;
   margin: 0;
   padding:0;
   opacity: 0.8;
}

.secondary-header h1{
   font-family: Helvetica, Arial, sans-serif;
   text-decoration: underline;
   margin-bottom: 10px;
}

.secondary, .secondary-text {
   width: 1100px;
   /*margin: 0px 0px 0px 0px;
   padding: 0px;*/
}

.secondary img {
   width: 200px;
   height:150px;
   margin:0;
   display: inline-block;
}

.secondary article {
   width:350px;
   display: inline-block;
   float:left;
}
.secondary h2 {
   display: inline-block;
   
}
#img1 {
   margin-left: 0;
}

#art1 {
   display: inline-block;
}

#art1 h2 {
   text-align: center;
   width: 58%;
   margin: 0;
}
#art2 {
   display: inline-block;
}

#art2 h2 {
   text-align: center;
   width: 58%;
   margin: 0;
}

#art3 {
   display: inline-block;
   /*position: relative;
   left:692px;
   top:-418px;*/
}

#art3 h2 {
   text-align: center;
   width: 58%;
   margin: 0;
}